.allign{

    text-align:center;
    color:rgb(121, 16, 16)

}

.panel-heading {
    text-align: center;
    background-color: rgb(121, 16, 16);
    margin-top: 30px;
    font-size: 20px;
}

.panel-body {
    background-color: beige;

}

.panel {
    background-color: rgba(255, 255, 255, 0);
}
.error{
    color: red
}

.row{
    justify-content: center;
    align-items: center;
}

.form-group{
    margin-left: 10px;
    margin-right: 25px;
}

.image{
    min-height: 650px;
    background-size:100%;
    margin-top: -10px;
}

.error-message{
    color:red;
    
}

.success-message{
    color:darkgreen;
    
}

